/.venv
/01_the_machine_learning_landscape.ipynb
/02_end_to_end_machine_learning_project.ipynb
/03_classification.ipynb
/04_training_linear_models.ipynb
/05_support_vector_machines.ipynb
/06_decision_trees.ipynb
/07_ensemble_learning_and_random_forests.ipynb
/08_dimensionality_reduction.ipynb
/09_unsupervised_learning.ipynb
/batch-regression-gradient.ipynb
/cube_test_data.csv
/Cube_test_Report050418.docx
/datasets
/data_extract.ipynb
/dependencies
/edgeai_1.ipynb
/feature-engineering-for-machine-learning-main
/gda.py
/gda_demo.py
/gradient-descent-from-scratch.ipynb
/gradient_descent.py
/gradient_descent_steps.csv
/gradient_descent_steps_with_error.csv
/helloworld.py
/images
/Lab
/lstm_turbine.ipynb
/math_differential_calculus.ipynb
/math_linear_algebra.ipynb
/math_probability.ipynb
/math_statistics.ipynb
/merge_sorted_array.py
/MLE.code-workspace
/my_model.pkl
/NDP48-x86-x64-AllOS-ENU.exe
/normal_equation.py
/pump_anamoly
/sample.ipynb
/SGD-from-scratch.ipynb
/sole
/synthetic_supply_chain_data.csv
/Teacher of Computer Science.pdf
/turbine_env